<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crédito para Todxs</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
  <section>
    <div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
	style="background-image: url(https://images.unsplash.com/photo-1525302220185-c387a117886e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
	<div class="absolute bg-black opacity-60 inset-0 z-0"></div>
	<div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl z-10">
		<div class="text-center">
			<h2 class="mt-6 text-3xl font-bold text-gray-900">
				Bem-vindo!
			</h2>
			<p class="mt-2 text-sm text-gray-600">Cadastre-se para usar a plataforma.</p>
		</div>
		<form class="mt-8 space-y-6" action="/signup" method="post">
			<div class="relative">
				<label class="text-sm font-bold text-gray-700 tracking-wide" for="name">Nome Completo</label>
				<input class=" w-full text-base p-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" name="name" id="name">
        @if(flashMessages.has('errors.name'))
          <p> {{ flashMessages.get('errors.name') }} </p>
        @end
      </div>
      <div class="mt-8 content-center">
				<label class="text-sm font-bold text-gray-700 tracking-wide" for="email">Email</label>
				<input class=" w-full text-base p-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="email" name="email" id="email">
        @if(flashMessages.has('errors.email'))
          <p> {{ flashMessages.get('errors.email') }} </p>
        @end
      </div>
      <div class="mt-8 content-center">
				<label class="text-sm font-bold text-gray-700 tracking-wide" for="tax_id">CPF</label>
				<input class=" w-full text-base p-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="number" maxlength="11" minlength="11" name="tax_id" id="tax_id">
        @if(flashMessages.has('errors.tax_id'))
          <p> {{ flashMessages.get('errors.tax_id') }} </p>
        @end
      </div>
			<div class="mt-8 content-center">
				<label class="text-sm font-bold text-gray-700 tracking-wide" for="password">Senha</label>
				<input class="w-full content-center text-base p-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="password" name="password" minlength="8" id="password">
        @if(flashMessages.has('errors.password'))
          <p> {{ flashMessages.get('errors.password') }} </p>
        @end
      </div>
      <div class="mt-8 content-center">
				<label class="text-sm font-bold text-gray-700 tracking-wide" for="password_confirmation">Confirmação de Senha</label>
				<input class="w-full content-center text-base p-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="password" name="password_confirmation" minlength="8" id="password_confirmation">
        @if(flashMessages.has('errors.password'))
          <p> {{ flashMessages.get('errors.password') }} </p>
        @end
      </div>
			<div>
				<button type="submit" class="w-full flex justify-center bg-indigo-500 text-gray-100 p-4  rounded-full tracking-wide
                                font-semibold  focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg cursor-pointer transition ease-in duration-300">
          Cadastrar-se
        </button>
			</div>
			<p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
				<span>Já é cadastrado?</span>
				<a href="/login" class="text-indigo-500 hover:text-indigo-500no-underline hover:underline cursor-pointer transition ease-in duration-300">Entrar</a>
			</p>
		</form>
	</div>
</div>
  </section>
  </body>
</html>
