<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crédito para Todxs</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
    <div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
	style="background-image: url(https://images.unsplash.com/photo-1525302220185-c387a117886e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <main>
    <div style="background-color: rgb(255 255 255 / 70%)" class="p-3">
      <h1 class="title"> Conte com a praticidade de simular e contratar crédito pela nossa plataforma! </h1>
      <p class="subtitle">
        Aqui nós te mostraremos o crédito certo para seu score, com as melhores condições e taxas.
      </p>

      <ul>
        <li>
          Trabalhamos com diversas instituições financeiras
        </li>

        <li>
          Calculamos os valores e quantidade de parcelas, lhe oferecendo as melhores condições
        </li>

        <li>
          Tudo isso de acordo com seu score bancário, aumentando em muito, as chances de sucesso no seu empréstimo.
        </li>
      </ul>
      <br>
      <div class="flex justify-around">
        <a href="/login" class="text-indigo-500 p-3 bg-white shadow rounded hover:text-indigo-500no-underline hover:underline cursor-pointer transition ease-in duration-300">Entrar</a>
        <a href="/signup" class="text-indigo-500 p-3 bg-white shadow rounded hover:text-indigo-500no-underline hover:underline cursor-pointer transition ease-in duration-300">Cadastrar-se</a>
      </div>
    </div>
  </main>
</div>
</body>
</html>